/* GALERIEPAGE */

.site-wrapper {
  left: 50px;  
}

.scene-nav--prev {
  padding: 1.5em;
  margin-left: 60vw;
}

.scene-nav--next {
  margin-right: 20vw;
}

.scene-nav>i {
  font-size: 5rem;
}

.scene-nav>i:hover{
  font-size: 6rem;
  transition: all 300ms ease-in;
}


 